<footer class="footer-distributed fixed-bottom">
  <div class="footer-left">
    <h3>Company<span>logo</span></h3>

    <p class="footer-company-name">Company Name © 2015</p>
  </div>

  <div class="footer-center">
    <div>
      <i class="About"></i>
      <a href="#">About us</a>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <a href="#">Contact us</a>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <a href="#">Frequently asked</a>
    </div>
  </div>

  <div class="footer-right">
    <p class="footer-company-about">
      <span>About the company</span>
      Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod
      convallis velit, eu auctor lacus vehicula sit amet.
    </p>

    <div class="footer-icons">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>
    </div>
  </div>
</footer>
