<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 bg">
      <h1>Dashboard</h1>

     
      <br />
      <a
        class="btn btn-text-black collapsed"
        data-bs-toggle="collapse"
        href="#multiCollapseExample2"
        role="button"
        aria-expanded="false"
        aria-controls="multiCollapseExample2"
        >PRODUCTS</a
      >
      <div
        class="collapse-horizontal collapse"
        id="multiCollapseExample2"
        style=""
      >
        <div style="width: 300px">
          <ul>
            <a
              class="dropdown-item"
              [routerLink]="['products']"
              routerLinkActive="router-link-active"
              >Add product</a
            >
            <a
              class="dropdown-item"
              [routerLink]="['viewproduct']"
              routerLinkActive="router-link-active"
              >view product</a
            >
          </ul>
        </div>
      </div>
      <br />
     

      <a
        class="btn btn-text-black collapsed"
        data-bs-toggle="collapse"
        role="button"
        aria-expanded="false"
        [routerLink]="['manageOrder']" routerLinkActive="router-link-active" 
        aria-controls="multiCollapseExample4"
        >MANAGE ORDERS</a
      >
     
      <br />
      <a
        class="btn btn-text-black collapsed"
        data-bs-toggle="collapse"
        href="#multiCollapseExample5"
        role="button"
        aria-expanded="false"
        aria-controls="multiCollapseExample5"
        >CAROUSEL</a
      >
      <div
        class="collapse-horizontal collapse"
        id="multiCollapseExample5"
        style=""
      >
        <div style="width: 300px">
          <ul>
            <a
              class="dropdown-item"
              [routerLink]="['carousel']"
              routerLinkActive="router-link-active"
              >Add Carousel</a
            >
            <a
              class="dropdown-item"
              [routerLink]="['viewcarousel']"
              routerLinkActive="router-link-active"
              >view Carousel</a
            >
          </ul>
        </div>
      </div>
    </div>
    <div class="col col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 col-xxl-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
