
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h1>Your order has been received</h1><br>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2F4E6dwwLsQBGxvT6iY3vCIxHqdlkkwd81g&usqp=CAU" alt="sfa"><br><br>
            <h3>Thank you for your purchase !</h3>
            <h6>Your order ID is: </h6>
            <h6>You will receive an order confirmation email with details of your order</h6><br>
            <a routerLink="/" class="btn btn-warning">CONTINUE SHOPPING</a>
        </div>
    </div>
</div>