.bg{
    background-image: url('https://wallpaperaccess.com/full/124068.jpg');
    background-size: cover;

    height: 100%;
}
.form{
    background: rgba(251, 254, 252, 0.5);
    margin-bottom: 15%;
}