.bg{
    /* background-image: url('https://wallpaperaccess.com/full/124068.jpg'); */
    background-size: cover;
background-color: rgb(108, 105, 105) ;
    height: 90vh;
    padding-top: 15vh;
}
.form{
    background: rgba(251, 254, 252, 0.5);

}